.Filter-container {
    width: 100%;
}

.filter-dropdown-container {
    display: flex;
    justify-content: center;
    /* Center horizontally */
}

.Filter-container .heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 0;
}

.Filter-container .filter-category {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* border: 1px solid white; */
    margin: 5px auto;
}

.filter-dropdown-container select {
    width: 80%;
    height: 25px;
    margin: 15px auto 0 auto;
}


.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
}

.detail {
    display: flex;
    align-items: center;
    gap: 10px;
}

.content-icon {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #ddd;
}

.community-name {
    font-size: 1rem;
    color: #333;
    margin: 0;
    font-weight: 500;
}

.subscribers {
    background-color: #e4e4e4;
    border-radius: 50%;
    font-size: 0.9rem;
    color: #666;
    margin: 0;
    padding: 2px;
}